target/classes/deploy-using-maven.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="deploy-using-mavenFlow">
        <poll doc:name="Poll">
            <logger message="## Polling....." level="INFO" doc:name="Logger"/>
        </poll>
        <enricher source="#[payload]" target="#[flowVars.msg]" doc:name="Message Enricher">
            <flow-ref name="deploy-using-mavenSub_Flow" doc:name="deploy-using-mavenSub_Flow"/>
        </enricher>
        <logger message="## #[flowVars.msg]" level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="deploy-using-mavenSub_Flow">
        <set-payload value="HELLO WORLD" doc:name="Set Payload"/>
    </sub-flow>
</mule>
